<div class="recent-post">
  <h1><%= @small_title %></h1>
  <h4><%= @body %></h4>
  <p class="post-meta">Posted by <a href="#"><%= @post.author %></a> on <%= @post.created_at.strftime('%B %d, %Y') %></p>
</div>

<section class ="container-fluid">
  <div class="row">
    <% @posts.each do |post| %>
      <div class = "col-lg-3">
        <%= link_to image_tag(post.image), post_path(:id => post.id) %>
      </div>
    <% end %>
  </div>
</section>
